
<table class="table table-striped" id="tblStockList">
    <thead>
        <tr>
            <th style="width:50%;">Symbol</th>
            <th>Price</th>
            <th>News</th>
            <th>
             <button class="btn" 
                     routerLink = "/Stocks/StocksAngular/Add">Add +</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stock of stockslist">
            <td>
                <a href="Stocks/StocksAngular/Detail/{{stock.Symbol}}">{{ stock.Symbol }}</a>
            </td>
            <td [ngClass]="stock.Color">{{stock.Price}}</td>
            <td>
                <a href="Stocks/StocksAngular/News/{{stock.Symbol}}">
                    <img src="images/Properties.jpg" />
                </a>
            </td>
            <td>
                <a href="Stocks/StocksAngular/Remove/{{stock.Symbol}}">
                    <img src="images/Delete.png" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
